[Unit]
Description=MQTT GATEWAY
Documentation=https://github.com/meishild/mqtt-gateway
After=bluetooth.service mosquitto.service

[Service]
Type=notify
User=daemon
Group=daemon
WorkingDirectory=/opt/mqtt-gateway/
ExecStart=/opt/mqtt-gateway/gateway.py
Environment=PYTHONUNBUFFERED=true
Restart=always

[Install]
WantedBy=multi-user.target
